
.footer { background-color: #fff; box-shadow: 0 0 20px rgba(89, 102, 122, 0.1); padding: 15px; bottom: 0;
    left: 0;transition: 0.5s;margin-left: 0px;margin: 0;}
.c-public-offense-nav {background: #ffffff;border-bottom: 2px solid #26c6da;box-shadow: 0px 15px 10px -20px #111;  }
.c-public-offense-nav .navbar-brand { margin: 0 auto;}
.c-public-offense-nav .navbar-brand  img {width: 200px;}
.c-contet-wp{ min-height:calc(100vh - 124px);;}
.formationMenuMain ngb-tabset ul {
    justify-content: end !important;
}
.c-offense-view-dashboard-w {background-color:#f8f8f8;padding: 20px;} 
.c-back-btn-playbook  { background-color: #122c34 !important;border-color: #122c34 !important;}
.c-back-btn-playbook:hover  { background-color: #007672 !important;border-color: #007672 !important;}

@media only screen and (max-width:767px)  {
.c-offense-view-dashboard-w .formationMenuMain .btn-primary { font-size: 10px;}
}