.page-wrapper.compact-wrapper .page-body-wrapper.sidebar-icon div.sidebar-wrapper .logo-icon-wrapper {
    padding: 7px 21px;
  }
  
  .dark-only .page-wrapper.compact-wrapper .page-body-wrapper.sidebar-icon div.sidebar-wrapper .sidebar-main .sidebar-links .sidebar-list a i {
    color: #ffffff !important;
  }
  
  .dark-only .page-wrapper.compact-wrapper .page-body-wrapper.sidebar-icon div.sidebar-wrapper .sidebar-main .sidebar-links .sidebar-list a img {
    filter: brightness(0) invert(1) !important;
  }
  
  .c-menu-header-logo {
    display: none;
  }
  
  .c-facebook-btn:hover {
    background-color: #1877F2 !important;
    border-color: #1877F2 !important;
  }
  
  
  
  @media only screen and (max-width: 767px) {
    .c-menu-header-logo {
      display: block;
      position: relative;
      z-index: 99;
    }
  
    .c-menu-header-logo img {
      width: 170px;
    }
  
    .c-menu-header-logo .logo-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    .c-menu-header-logo .logo-wrapper i {
      font-size: 20px;
    }
  }